#scoresQuartersFouls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#basketballCourt {
    width : 56vw;
    height: 36vw;
    border: 4px solid lightgrey;
    margin: 1vw;
    background-image: url("basketballCourt.png");
    background-size: cover;
    background-position: center;
    /* This part creates the grid */
    display: grid;
    grid-template-columns: repeat(40,1fr);
    grid-template-rows: repeat(20, 1fr);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores{
    padding: 0 10vw;
}

#percentages{
    display: flex;
    flex-direction: row;
    padding: 0 20vw;
}

.statsLayout{
    padding: 0 20vw;
}

